/**
* @name Kingdom Hearts
* @version Auto Update
* @description Tema para BetterDiscord de Kingdom Hearts
* @author derens
* @Source 
* @website https://www.derhos.es
*/
@import url("https://derhos.es/themes/kh/main.css");
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
:root {
--main-color: #6B40FFFF;
--hover-color: #6B40FFFF;
--success-color: #6B40FFFF;
--danger-color: #982929;
--url-color: #7F67FFFF;
--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streamig-color: #593695;
--offline-color: #808080;
--main-font: 'Bodoni MT';
--code-font: 'Bodoni MT';
--text-normal: #dcdddeff;
--text-muted: #72767dff;
--channels-width: 222px;
--members-width: 240px;
--background-shading: 100%;
--background-overlay: #00000099;
--background-image: url('https://raw.githubusercontent.com/derens4/KingdomHearts/main/img/background.jpg');
--background-size: cover;
--background-position: center;
--background-repeat: no-repeat;
--background-attachment: fixed;
--background-brightness: 100%;
--background-constrast: 100%;
--background-saturation: 100%;
--background-invert: 0%;
--background-grayscale: 0%;
--background-sepia: 0%;
--background-blur: 0px;
--home-icon: url('https://raw.githubusercontent.com/derens4/KingdomHearts/main/img/homeb.png');
--home-position: center;
--home-size: 59px;
--background-overlay: #00000099;
--backdrop-image: url('https://raw.githubusercontent.com/derens4/KingdomHearts/main/img/background.jpg');
--backdrop-image: center;
--backdrop-size: cover;
--backdrop-repeat: repeat;
--backdrop-attachment: fixed;
--backdrop-brightness: 100%;
--backdrop-constrast: 100%;
--backdrop-saturation: 100%;
--backdrop-invert: 0%;
--backdrop-grayscale: 0%;
--backdrop-sepia: 0%;
--backdrop-blur: 0px;
--user-popout-image: url('https://raw.githubusercontent.com/derens4/KingdomHearts/main/img/background.jpg');
--user-popout-image: center;
--user-popout-size: cover;
--user-popout-repeat: repeat;
--user-popout-attachment: fixed;
--user-popout-brightness: 100%;
--user-popout-constrast: 100%;
--user-popout-saturation: 100%;
--user-popout-invert: 0%;
--user-popout-grayscale: 0%;
--user-popout-sepia: 0%;
--user-popout-blur: 0px;
--user-popout-overlay: #000000a6;
--user-modal-image: url('https://raw.githubusercontent.com/derens4/KingdomHearts/main/img/background.jpg');
--user-modal-image: center;
--user-modal-size: cover;
--user-modal-repeat: repeat;
--user-modal-attachment: fixed;
--user-modal-brightness: 100%;
--user-modal-constrast: 100%;
--user-modal-saturation: 100%;
--user-modal-invert: 0%;
--user-modal-grayscale: 0%;
--user-modal-sepia: 0%;
--user-modal-blur: 0px;
--bd-blue: #6B40FFFF;
--bd-blue-hover: #6B40FFFF;
--bd-blue-active: #6B40FFFF;
--HSL-server-icon-size: 35px;
--HSL-server-spacing: 9px;
}